<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="centered-text"><a href={{site.url}} title="(Back to homepage)">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo"/>
        {% endif %}

        <!-- <p class="centered-text">{{ site.description | default: site.github.project_tagline }}</p> -->

        <div class="centered-text">
          <!-- <a href="https://medium.com/@meschatology" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/social/7088990_medium_medium logo_icon.png" alt="Medium Profile" width="32" height="32">
          </a> -->
          <!-- <a href="https://www.instagram.com/joshwascool/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/social/6929237_instagram_icon.png" alt="Instagram Profile" width="32" height="32">
          </a> -->
          <a href="https://www.linkedin.com/in/josh-atwal/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/social/317725_linkedin_social_icon.png" alt="LinkedIn Profile" width="32" height="32">
          </a>
          <a href="https://github.com/OptimusPrinceps/">
            <img src="/assets/img/social/8666148_github_square_icon.png" alt="GitHub Profile" width="32" height="32">
          </a>
          <a href="https://open.spotify.com/user/1245938457" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/social/8010463_spotify_music_audio_song_sound_icon.png" alt="Spotify Profile" width="32" height="32">
          </a>
          <a href="https://www.chess.com/member/josh_is_coo" target="_blank" rel="noopener noreferrer">
            <img src="/assets/img/social/chess_social_icon.png" alt="Chess.com Profile" width="32" height="32">
        </div>
        <p class="centered-text">
          <a href="mailto:josh.atwal@outlook.com">
            josh.atwal@outlook.com
          </a>
        </p>
        <!-- <br>
        <p class="centered-text">
          <a href="/index.html">
            Home
          </a>
          |
          <a href="/portfolio/index.html">
            Portfolio
          </a>
          |
          <a href="/portfolio/cv.html">
            CV
          </a>
        </p> -->
      </header>
      <section>

      {{ content }}

      </section>

      <footer>
        <h3 class="centered-text">
          <a href="/">
            Home
          </a>
        </h3>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
